.main-container{
    height: 100vh;
    width: 100vw;
   
}

.text{
    background-color: white;
}

.one{
    position: absolute;
    top: 5vh;
    right: 3vw;
    background-color: red;
    padding: 1.5vh;
    cursor: pointer
}
.two{
    position: absolute;
    bottom: 2vh;
    left: 1.5vw;
    background-color: green;
    padding: 1.5vh;
    cursor: pointer
}
.three{
    position: absolute;
    bottom: 30vh;
    left: 24vw;
    background-color: purple;
    padding: 1.5vh;
    cursor: pointer
}
.four{
    position: absolute;
    top: 30vh;
    right: 24vw;
    background-color: orange;
    padding: 1.5vh;
    cursor: pointer
}
.five{
    position: absolute;
    top: 10vh;
    right: 80vw;
    background-color: teal;
    padding: 1.5vh;
    cursor: pointer
}
.six{
    position: absolute;
    top: 50vh;
    right: 50vw;
    background-color: gold;
    padding: 1.5vh;
    cursor: pointer
}